html {
  text-size-adjust: 40%;
}

body {
  background-color: #DDDDDD;
  font-size: 2.5em;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.container-table {
  background-image: url('touch-icon-ipad.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

h2 {
  text-align: center;
}

@media (prefers-color-scheme: light)
{
  .jumbotron {
    background-color: #DDDDDD;
    padding: 0.5em 0 !important;
    margin-bottom: 0;
  }

  .row:first-child {
    background-color: #CCCCCC !important;
    font-weight: bold;
    border: 1px solid #CCCCCC;
  }

  .row:nth-child(even) {
    background-color: #E2EFD9;
  }

  .row:nth-child(odd) {
    background-color: #DDDDDD;
  }
  .row {
    opacity: 0.9;
  }
}

.col-1, .col-2 {
  text-align: center;
}

:root {
  --primary-color: #02290e;
  --secondary-color: #db9d00;
}


@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background-color: black;
  }
  .jumbotron {
    background-color: black;
  }

  .container-fluid {
    background-color: var(--primary-color);
    opacity: 0.9;
  }

  .row:first-child {
    background-color: #333333 !important;
    font-weight: bold;
    border: 1px solid #333333;
    opacity: 0.9;
  }

  .row:nth-child(even){
    color: white;
  }
  .row:nth-child(odd){
    color: var(--secondary-color);
  }

}
